
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway|Rakkas|PT+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    font-family: Raleway;
    overflow-x: hidden;
}
.navbar {
    position:absolute;
    top:0;
    z-index:1;
    background-color:rgba(0, 0, 0, 0.26);
    font-family: Raleway;
    font-size: 19px;
    height:5rem;
    width:100%;
}
.navbar-brand img{
    position:absolute;
    top:0;
    left:10px;
    z-index: 1;
    height: 150px;
    width: 150px;
}
.nav-link {
    color: white;
}

.nav-link:hover {
    color:white;
} 

.fa.fa-navicon{
    color:white;
}
.dropdown-menu{
    background-color:rgba(82, 24, 90, 0.925);
}
.dropdown-menu a:hover {
    background-color:rgba(102, 34, 110, 0.966);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-indicators li {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 200px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgb(126, 62, 126);
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 35px;
    height: 35px;
    margin-top: 200px;
    background-color:rgba(224, 21, 21, 0.815);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #fff;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: white;
}



/* Declare heights because of positioning of img element */
.carousel-item {
    height: 35rem;
}

.carousel-item > img {
    min-width: 100%;
    height: 35rem;
}
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.377);
  }
.carousel-caption {
    position:absolute;
    top:200px;
    left:350px;
    z-index: 1;
    z-index: 10;    

    h5{
        font-weight: 900;
    }

    button{
        font-size: 20px;
        color:white;
        background-color:transparent;
        border:5px solid #ffffff;
    }

    button a {
        font-weight: 900;
        color:white;
    }

    button a:hover {
        text-decoration: none;
        color:white;
    }
    p{
        font-size:30px;
        font-weight: 900;
    }
}

.badge{
    height:70px;
    font-size:25px;
    padding: 20px;
    color:white;
    background-color: rgba(77, 17, 77, 0.973);}

.badge:hover{
    color:white;
    text-decoration: none;
}


.jumbotron{
    a{
        background-color: rgba(77, 17, 77, 0.973);
    }
}

.quicktour-img-caption {
   position:absolute;
   bottom:0;
   background-color: rgba(57, 9, 70, 0.884);
   color:white;
   z-index:1;
   width:100%;
   font-family: 'PT Sans', sans-serif;
   h1{
    font-size:40px;   
    font-weight:900;
   }
  
}

.event-countdown{
    margin-top: -50px;

    h1{
        font-size:50px;
        font-weight:900;
        margin-top:20%;
    }

    .clock{
        margin-left:20%;
        font-size:25px;
        font-weight:600;
        margin-top:10%;
    }
}

// about us page
.header-pic {
    margin-top: 0px;
    margin-left: -50px;
    width: 120%;
    height: 500px;
    margin-bottom: 10px;
    z-index: -1;
}

.header-text {
    margin-top: -300px;
    color: white;
    font-size: 100px;
    font-weight: 900;
}

.aboutus-content {
    margin-top: 200px;
    margin-left: 50px;
}

//google map styling
.mapouter {
    margin-left: 0px;
    width: 1500px;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    margin-top: 1px;
    background: #510f88 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}





/* RESPONSIVE CSS */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar-brand img{
        height:100px;
        width:100px;
        margin-left: 8px;
    }
    .collapse{
        position:relative;
        z-index:1;
        margin-top:20px;
        background-color: white;
        height:40rem;

        a {
            color:#1f0831;
        }
        a:hover {
            color:#1f0831;
        }
    }
    .carousel-caption{
        width: 55%;
        margin-left: -250px;
        margin-top: -70px;
        h5{
            font-size: 40px;
            font-weight: 900;
            
        }
        
    }

    .quicktour {
        img{
            width:100%;
            height:400px;
        }
    }

    .event-countdown{
        .clock{
            margin-left: -10px;
        }
    }

        

    }


// TIMER CSS
